#root {
  height: 100dvh;
}

.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0
}

#message-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  pointer-events: none;
  top: 0;
}

img {
  pointer-events: none;
}